*{
    box-sizing: border-box;
    margin:0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.block-dijk{
    display: flex;
    position: absolute;
    top:0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #333;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.block-dijk .click-instruction{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    pointer-events: none;
    z-index: -10;
}
.block{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid rgb(163, 211, 208);
    border-radius: 50%;
    margin-top:-3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    z-index: 10;
}
.outline-btn{
    border: 2px solid rgb(102, 216, 159);
    /* border: none; */
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    padding: 6px 10px;
    box-shadow: 1px 2px 3px 1px #333;
}
.outline-btn:active{
    box-shadow: none;
}
.outline-btn:disabled{
    box-shadow: none;
}
.line{
    height:5px;
    background-color: lemonchiffon;
    position: absolute;
    transform-origin: top left;
    text-align: center;
    color: #EEE;
    line-height: 2rem;
}
.line .edge-weight{
    padding:0 10px;
    width: max-content;
    margin: auto;
}
header{
    width: 100%;
    padding:20px;
    background-color: #10A881;
    text-align: center;
}
header .title{
    font-size: 2rem;
    color: #FFF
}
header .title a:nth-child(2){
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
}
header .title a{
    text-decoration: none;
    color: #FFF;
}
a>img{
    width: 100%;
    height: 100%;
}
main h3{
    padding: 20px;
    font-weight: 1.2rem;
}
main ul>li{
    padding: 0.5rem;
}
.options{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.options input{
    outline: 0;
    padding: 6px;
    width: 100px;
}
.path{
    position: absolute;
    bottom:0;
    right: 0;
    height: min-content;
    color: #FFF;
    overflow-x: scroll;
    width: 40%;
    min-width: 300px;
    background-color: rgba(146, 146, 146, 0.4);
    transition-duration: 1s;
}
.path::-webkit-scrollbar{
    display: none;
}
